<section id="primary-section">
    <h2 class="section-title">Portfolio</h2>
    <hr>
    <div class="card-columns">
        <div class="card">
            <img src="./assets/images/angular-adv.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">CV Online</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet officiis magnam pariatur sunt nisi minus quia accusamus voluptatem. Dolore accusantium adipisci ipsum ab delectus officiis magnam eum rerum? Quaerat, maiores!</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-info btn-block"><i class="fas fa-info-circle"></i> Ver más</button>
            </div>
        </div>
    </div>
</section>