/* Header */

@media only screen and (min-width: 991px)
{
    .header {
        width: 160px;
    }
}

.header {
    background-color: rgba(255, 255, 255, 1);
}

.header {
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 10px 0 0;
    background-color: #fff;
    overflow: auto;
    z-index: 11;
}

.header .header-content {
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
}

.header * {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-image {
    position: relative;
    margin: 20px auto;
    text-align: center;
    z-index: 0;
}

.header-image img {
    height: auto;
    max-height: 80px;
    width: auto;
    max-width: 80px;
}

.title-block {
    position: relative;
    z-index: 1;
    margin: 20px 20px 10px;
    text-align: center;
}

.title-block h1 {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.2em;
    color: #333333;
    letter-spacing: 0px;
}

.title-block > a {
    text-decoration: none;
}

/* End Header */

/* Navigation header */

.navigation {
    display: block;
    position: relative;
    padding: 25px 0 40px;
}

.navigation .navigation-list {
    opacity: 1;
    pointer-events: auto;
    padding: 0;
    list-style: none;
    background-color: #fcfcfc;
    /* -webkit-transform: translateY(0); */
    /* transform: translateY(0); */
}

.navigation .navigation-list > li > a {
    display: block;
    position: relative;
    padding: 10px 20px;
    text-align: center;
    color: #222;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid #f5f5f5;
    outline: none;
}

.navigation .navigation-list a:hover {
    border-color: #f5f5f5;
    background-color: #3f42ad; 
    color: #fff !important;
    /* OLD COLOR 7d7fc7 */
}

.navigation .navigation-list li a.active {
    background-color: #3f42ad;
    color: #fff !important;
}

.navigation .navigation-list > li:first-child > a {
    border-top: 1px solid #f5f5f5;
}

.header .social-links {
    display: inline-block;
    position: relative;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header .social-links a {
    display: inline-block;
    margin: 0 2px;
    width: 28px;
    height: 28px;
    color: #888;
    background-color: #eee;
    text-align: center;
}

.header .social-links a i {
    font-size: 14px;
    line-height: 28px;
}

.header .social-links a:hover {
    color: #fff;
    background-color: #3f42ad;
}