<section class="primary-section">
  <div class="row">
    <div class="col-6">
      <div class="work-position">
        Full-Stack Developer
      </div>
      <div class="full-name">
        Nicolás Doná
      </div>
      <hr>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt animi pariatur repellat reiciendis commodi, dicta
        aspernatur iure quis ea soluta vero enim autem, facere possimus nihil. Dolores eveniet itaque perferendis.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt animi pariatur repellat reiciendis commodi, dicta
        aspernatur iure quis ea soluta vero enim autem, facere possimus nihil. Dolores eveniet itaque perferendis.</p>
    </div>
  </div>
</section>
<section class="secondary-section">
  <div class="row">
    <div class="col-12">
      <div class="main-title">
        <h3>
          Que hago
          <span></span>
        </h3>
      </div>
      <div class="row">
        <div class="col-4 text-center">
          <i class="fas fa-angry"></i>
          <h2>TEXT</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos omnis aperiam, earum voluptatum iste enim! Magni
            eveniet placeat dolorum commodi qui. Tenetur dolorum reprehenderit eaque distinctio harum vero voluptatibus deleniti.
          </p>
          <p>
            <a class="btn btn-secondary" href="#" role="button">View details »</a>
          </p>
        </div>
        <div class="col-4 text-center">
          <i class="fas fa-apple-alt"></i>
          <h2>TEXT</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos omnis aperiam, earum voluptatum iste enim! Magni
            eveniet placeat dolorum commodi qui. Tenetur dolorum reprehenderit eaque distinctio harum vero voluptatibus deleniti.
          </p>
          <p>
            <a class="btn btn-secondary" href="#" role="button">View details »</a>
          </p>
        </div>
        <div class="col-4 text-center">
          <i class="fab fa-angular"></i>
          <h2>TEXT</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos omnis aperiam, earum voluptatum iste enim! Magni
            eveniet placeat dolorum commodi qui. Tenetur dolorum reprehenderit eaque distinctio harum vero voluptatibus deleniti.
          </p>
          <p>
            <a class="btn btn-secondary" href="#" role="button">View details »</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>