<section id="primary-section">
  <h2>Curriculum</h2>
  <hr>
  <div class="row">
    <div class="col-7">
      <div class="main-title">
        <h3>
          Educación
          <span></span>
        </h3>
      </div>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus ea, possimus molestias recusandae harum earum
        atque. Dignissimos assumenda labore quod aspernatur ea? Ea soluta accusamus consequuntur sunt eum in architecto.</p>
      <div class="main-title">
        <h3>
          Experiencia
          <span></span>
        </h3>
      </div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae quam, voluptatum ut, quisquam est excepturi
        doloremque nisi consequuntur, tempora maxime maiores neque ad! Incidunt corrupti vitae labore enim, est vel.</p>
    </div>
    <div class="col-5">
      <div class="main-title">
        <h3>
          Habilidades A
          <span></span>
        </h3>
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit natus adipisci assumenda quos repellendus, delectus dolorem
        earum accusamus architecto iusto aliquid maxime, eum fuga dignissimos a ad harum inventore tempore.
      </p>
      <div class="main-title">
        <h3>
          Habilidades B
          <span></span>
        </h3>
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit natus adipisci assumenda quos repellendus, delectus dolorem
        earum accusamus architecto iusto aliquid maxime, eum fuga dignissimos a ad harum inventore tempore.
      </p>
    </div>
  </div>
</section>