body, p {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.85em;
    color: #666666;
}

body {
    background-color: #f3f3f3;
}

@media only screen and (min-width: 991px)
{
    ::-webkit-scrollbar {
        position: absolute;
        width: 5px;
        margin-left: -5px;
    }
}

@media only screen and (min-width: 991px)
{
    ::-webkit-scrollbar-thumb {
        background-color: #dedede;
        outline: 1px solid slategrey;   
        height: 10px;     
    }
}

.full-height {
    height: 100%;
}

a {
    text-decoration: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}