body, p {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.85em;
    color: #666666;
}

body {
    background-color: #f3f3f3;
}

@media only screen and (min-width: 991px)
{
    ::-webkit-scrollbar {
        position: absolute;
        width: 5px;
        margin-left: -5px;
    }
}

@media only screen and (min-width: 991px)
{
    ::-webkit-scrollbar-thumb {
        background-color: #dedede;
        outline: 1px solid slategrey;   
        height: 10px;     
    }
}

.full-height {
    height: 100%;
}

a {
    text-decoration: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.section-title {
    font-weight: bolder;
}

.main-title {
    display: inline-block;
    margin: 0 0 20px;
    padding-bottom: 3px;
    color: #000000;
}

.main-title h3 {
    font-size: 20px;
    margin: 15px 0;
    font-weight: bolder;
}

.main-title h3:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 2px;
    background-color: #7cc5d4;
}

.animate {
    -webkit-animation-duration: 0.3;
    animation-duration: 0.3;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}